<div class="container-fluid footer">
    <div class="row">

        <div class="col-lg-6">
            <h1>Mylos Kouiasas</h1>
            <P>Heaven on Earth!</P>
        </div>
        <div class="col-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Location</a>
        </div>
        <div class="col-lg-2">
            <a href="https://www.facebook.com/myloskouiasas/?locale=el_GR" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/mylos_kouiasas/?hl=en" target="_blank"><i class="bi bi-instagram"></i></a>

        </div>
    </div>
</div>