
    /*Alternative CSS Centering Code with the "body" Selector*/
    
    h1 {
    
    text-align: center;
    
    }
    
    /* Styling */
    
    body {
      height: 93vh;
      font-family: 'Lexend Deca', sans-serif; 
      color: #ffffff;    
    }