<head>
<link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
</head>
<body>
  
<h1>Our Menu</h1>

<div class="container text-center">
    <div class="row">
      <div class="col">
        <h2>Coffe</h2>
        <div>
            <dd> Freddo Espresso</dd>
            <dd> Freddo Cappuccino</dd>
            <dd> Greek Single Coffee</dd>
            <dd> Greek Double Coffee</dd>
            <dd> Espresso </dd>
            <dd> Espresso Double</dd>
            <dd> Nes coffe Hot</dd>
            <dd> Frappe</dd>
            <dd> Filtered Coffee</dd>
            <dd> Latte </dd>
            <dd> Cappuccino Single </dd>
            <dd> Cappuccino Double </dd>
            <dd> Americano Single</dd>
            <dd> Americano Double</dd>
        </div>
      </div>
      <div class="col">
        <h2>Soft Drinks</h2>
        <div>
            <dd> Greek Mountain Tea</dd>
            <dd> Hot/Cold Chocolate</dd>
            <dd> Homemade Lemonade</dd>
            <dd> Homemade Cherryade</dd>
            <dd> Carbonated Lemon Juice </dd>
            <dd> Carbonated Orange Juice</dd>
            <dd> Coca-Cola</dd>
            <dd> Sprite</dd>
            <dd> Ice Tea (Lemon/Peach) </dd>
            <dd> Orange Juice </dd>
            <dd> Mixed Fruits Juice </dd>
            <dd> Sparkling Water</dd>
        </div>
      </div>
      <div class="col">
        <h2>Drinks</h2>
        <div>
            <dd> Tsipouro</dd>
            <dd> Ouzo</dd>
            <dd> Beer</dd>
            <dd> Red wine</dd>
            <dd> White wine</dd>
        </div>
      </div>
      <div class="col">
        <h2>Food</h2>
        <div>
            <dd> French Fries</dd>
            <dd> Tomato Salad</dd>
            <dd> Greek Salad</dd>
            <dd> Tzatziki</dd>
            <dd> Galotiri</dd>
            <dd> Club Sandwich</dd>
            <dd> Omelette(You can add extra things)</dd>
            <dd> today's special (Ask the waiter) </dd>
            <dd> Crepe (You can choose the ingredients) </dd>
            <dd> Ekmek</dd>
            <dd> Homemade walnut pie</dd>
            <dd> Homemade Spoon Sweets </dd>
            <dd> Ice Cream</dd>
        </div>
      </div>
    </div>
  </div>

  </body>
