<section class="firstsection">
    <div class="box-main">
        <div class="firstHalf">
            <h2 class="conteiner text-big">About US</h2>
              
            <p class="text-small">
                Mulos kouiasas is an old water mill hidden in the nature!
            </p>
            <p class="center"style="text-decoration:none;color:white;">
                Near to the village kallarites up on the road 
                you can find a sign "Mylos kouiasas" thats us!
                All started in 2018 when we had the idea to
                present this place to the world.After days of work
                we made a small coffee shop in the nature without 
                disturbing anything from the old water mill.
                Now you can visit Mylos kouiasas and take a brake
                to drink some coffee or to eat something while your mind
                is relaxed by the sounds of nature.
            </p>
        </div>
    </div>
</section>