
.firstsection {
    margin-bottom: 100%;
}
.firstHalf
{
  margin-top: 25%;
  padding: 0;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 50%;
    margin: auto;
    height: 60%;
}
.text-big {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}

.text-small {
    font-family: 'Sansita Swashed', cursive;
    font-size: 20px;
    text-align: center;
}

.center {
    
    font-size: 18px;
}
